.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #fff;
    background-image: linear-gradient(to right, #4e138d, #b128af);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.button {
    display: inline-block;
    width: 48px;
    height: 30px;
    border: 0;
    background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
    background-color: #ccc;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.button:hover {
    opacity: 1;
}

.input {
    display: inline-block;
    width: 100%;
    height: 30px;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 0 10px 0 10px;
}

.input::placeholder {
    font: inherit;
    font-size: 18px;
}